{% extends 'base.html' %}

{% block title %}Review{% endblock %}

{% block content %}
    
    <form method="post">
        {% csrf_token %}
        <p>
            <input type="email" name="email" placeholder="Enter your email">
        </p>
            <input type="text" name="phone" placeholder="Enter your phone number">
        <p>
            <input type="text" style="text-align: 200px;" name="text" placeholder="Your review...">
        </p>
    <button type="submit">Send</button>
    </form>
{% endblock %}